#Alert{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(0,0,0,0.5);
  z-index: 40;
  top: 0px;
}
#Alert > div{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
#Alert > div > div{
  position: relative;
  align-self: center;
  padding: 1rem;
  border-radius: 0.375rem;
  width: 80%;
  color: white;
  background-color: rgb(38 38 38);
}
#Alert > div > div > div{
  position: relative;
  height: 70vh;
}
#Alert > div > div > div > img{
  position: absolute;
  width: 1rem;
  top:0px;
  right:0px;
}
#Alert > div > div > div > img:hover{
  opacity: 0.7;
}
#Alert > div > div > iframe{
  position: absolute;
  top: 40px;
  width: 157%;
  height: 110vh;
  -ms-zoom: 0.6;
  -moz-transform: scale(0.6);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.6);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.6);
  -webkit-transform-origin: 0 0;
}
#Alert > div > div > a > div{
  display: inline-block;
  padding: 0.7rem;
  border-radius: 0.375rem;
  border-style: solid;
  border-color: #00A8F6;
  border-width: 2px;
  color: #00A8F6;
  font-weight: 400;
  margin-top: 10px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#Alert > div > div > a > div:hover{
  background-color: #00A8F6;
  color: rgb(38 38 38);
}
body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-family: 'Zen Kurenaido', sans-serif;
}
@font-face {
    font-family: MoonTime;
    src: url("MoonTime-Regular.ttf") format("truetype");
}

p {
  font-size: 1.2em;
}

h4 {
  font-size: 2em;
}

h6 {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
}
img{
  width: 100%;
}
.container-fluid{
  overflow: hidden;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

}
.tedo {
  display: inline-block;
  color: white;
  font-family: MoonTime;
  line-height:0;
  font-size: 3rem;
  opacity: 0.9;
  margin:31px 0 31px 0;
}

.nameNtitle {
  text-align: center;
  padding: 0;
}

.nameNtitle:hover {
  opacity: 0.75;
}

.logoA {
  display: inline-block;
}

.navbar {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 10;
  padding-left: 16px;
  padding-right:12px;
}
.navbar-toggler{
  margin-right: 4px;
}
.nav-link {
  font-size: 1.25em;
}

.DP {
  width: 100%;
  border-radius: 10%;
  margin-bottom: 10px;
}


.icon {
  width: 40px;
  margin: 15px 8px 8px;
}
.icon-first{
  margin: 15px 8px 8px 0px;
}

.icon:hover {
  opacity: 0.75;
}

.chsp {
  margin-left: 20px;
}

.cvbtn {
  margin-top: 25px;
  background: #303030;
  border: 0;
  background-image: -webkit-linear-gradient(top, #303030, #000000);
  background-image: -moz-linear-gradient(top, #303030, #000000);
  background-image: -ms-linear-gradient(top, #303030, #000000);
  background-image: -o-linear-gradient(top, #303030, #000000);
  background-image: linear-gradient(to bottom, #303030, #000000);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.cvbtn:hover {
  background: #666666;
  background-image: -webkit-linear-gradient(top, #666666, #3d3d3d);
  background-image: -moz-linear-gradient(top, #666666, #3d3d3d);
  background-image: -ms-linear-gradient(top, #666666, #3d3d3d);
  background-image: -o-linear-gradient(top, #666666, #3d3d3d);
  background-image: linear-gradient(to bottom, #666666, #3d3d3d);
  text-decoration: none;
}

.ctrr {
  width: 100%;
  margin: 10% 0 10% 0;
  padding-top: 82px;
}

.bgcustom {
  background-color: black;
}

#Skills {
  color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}

#Skills h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

.skill-img {
  width: 80%;
}

.skill-grid {
  padding: 20px;
}

.col-4 {
  font-size: 1.5em;
  margin-top: 10px;
  text-align: center;
}

.col-8 {
  margin-top: 10px;
}

.confidance {
  background-color: #5ce1e6;
  height: 1em;
  margin-top: 12px;
}

.seventyfive {
  width: 0;
}

.seventyfiveAnimation{
  width: 75%;
  animation-name: example-seventyfive;
  animation-duration: 2s;
}

@keyframes example-seventyfive {
  from {
    width: 0;
  }

  to {
    width: 75%;
  }
}

.eighty {
  width: 0;
}

.eightyAnimation{
  width: 80%;
  animation-name: example-eighty;
  animation-duration: 2s;
}

@keyframes example-eighty {
  from {
    width: 0;
  }

  to {
    width: 80%;
  }
}

.eightyfive {
  width: 0;
}

.eightyfiveAnimation{
  width: 85%;
  animation-name: example-eightyfive;
  animation-duration: 2s;
}

@keyframes example-eightyfive {
  from {
    width: 0;
  }

  to {
    width: 85%;
  }
}

.ninty {
  width: 0;
}

.nintyAnimation{
  width: 90%;
  animation-name: example-ninty;
  animation-duration: 2s;
}

@keyframes example-ninty {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}

.nintyfive {
  width: 0;
}

.nintyfiveAnimation{
  width:95%;
  animation-name: example-nintyfive;
  animation-duration: 2s;
}

@keyframes example-nintyfive {
  from {
    width: 0;
  }

  to {
    width: 95%;
  }
}

.nintyseven {
  width: 0;
}

.nintysevenAnimation{
  width: 97%;
  animation-name: example-nintyseven;
  animation-duration: 2s;
}

@keyframes example-nintyseven {
  from {
    width: 0;
  }

  to {
    width: 97%;
  }
}
#ENA{
  padding-top: 70px;
  background-color: #F7F7F7;
}
#ENA h1{
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}
.ENA-logo{
  width:30%;
}
.ENA-logo-xs{
  width:50%;
}
.card{
  margin: 20px;
}
.card-header{
  font-size: 1.5rem;
}
.card-text{
  padding: 10px;
  font-size: 1rem;
}
#MyJourney{
  padding-top: 70px;
}
#MyJourney h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 50px;
}
.years{
  width:70%;
}
.years-div{
  text-align: center;
  margin-bottom: 25px;
}
.jrny{
  margin-bottom: 25px;
}
.jrny p{
  margin-left: 20px;
  margin-right: 20px;
}

#Education{
  padding: 100px 70px 170px 70px;
  background-color: #EAF6F6;
}
.headingg {
  font-size: 3em;
  text-align: center;
  margin-bottom: 50px;
}
.line{
  border-left: 6px solid #66BFBF;
  height: 650px;
  position: absolute;
  top:20px;
  left:72px;
  z-index: 0;
}
.edu-main{
  position: relative;
}
.bits{
  margin-bottom: 100px;
}
.aps{
  margin-bottom: 100px;
}
.col-3 img{
  position: relative;
  z-index: 1;
  width: 150px;
}
.bolder{
  font-weight: bolder;
}
#Contact{
  padding:70px 20px 80px 20px;
  background-color: #6D8299;
}
#Contact h1{
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}
.contact-card-grid{
  padding: 5px;
}
.contact-card{
  background-color: #EEEEEE;
  width:100%;
  border-radius: 10px;
  padding-top:15%;
  text-align: center;
  position: relative;
}
.card-img{
  width:20%;
  position: absolute;
  top: -20px;
  left: 40%;
}
.img-background{
  background-color: #EEEEEE;
  width:20%;
  height:20%;
  border-radius: 6px;
  position: absolute;
  top: -20px;
  left: 40%;
}
.card-inner{
  font-size: 20px;
}
.arrow-button{
  border-radius: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.v2{
  top: -12px;
}
.v3{
  width:15%;
  height:15%;
  left: 42.5%;
  top: -12px;
}
@media (min-width: 1000px){
  .card-img{
    width:16%;
    position: absolute;
    top: -20px;
    left: 42%;
  }
  .img-background{
    width:16%;
    height:16%;
    left:42%;
  }
  .v3{
    width:12%;
    height:12%;
    left: 44%;
    top: -12px;
  }
}
@media (min-width: 1200px){
  .line{
    height: 550px;
  }
  .ENA-logo{
    width:20%;
  }
  .ENA-logo-xs{
    width:33%;
  }
  .card-text{
    font-size: 1.2rem;
  }
  .card-img{
    width:12%;
    position: absolute;
    top: -20px;
    left: 44%;
  }
  .img-background{
    width:12%;
    height:12%;
    left:44%;
  }
  .v3{
    width:8%;
    height:8%;
    left: 46%;
    top: -12px;
  }
}
@media (max-width: 992px) {
  .years{
    width:20%;
  }
  #Education{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 663px){
  .line{
    height: 800px;
  }
  .card-inner{
    font-size: 15px;
  }
  .card-img{
    width:24%;
    position: absolute;
    top: -20px;
    left: 38%;
  }
  .img-background{
    width:24%;
    height:24%;
    left:38%;
  }
  .v3{
    width:20%;
    height:20%;
    left: 40%;
    top: -12px;
  }
}
@media(max-width: 490px){
  .col-3 img{
    width:100px;
  }
  .line{
    left:47px;
  }
}
@media (max-width: 420px){
  .line{
    height: 950px;
  }
  .v2{
    top: -16px;
  }
  .v3{
    width:20%;
    height:20%;
    left: 40%;
    top: -17px;
    border-radius: 57%;
  }
}
@media (max-width: 380px){
  .line{
    height: 980px;
  }
}
@media (max-width: 365px){
  .line{
    height: 1050px;
  }
}
@media (min-width: 1280px) {
  #Alert > div > div{
    padding: 2rem;
    width: 80%;
  }
  #Alert > div > div > div > img{
    top:-16px;
    right:-16px;
  }
  #Alert > div > div > iframe{
    height:116vh;
    top: 30px;
  }
}
@media (max-width: 640px) {
  #Alert > div > div > iframe{
    width: 150%;
  }
}